<!-- Toolbar -->
<div class="toolbar">
  <p>ระบบบันทึกข้อมูล</p>
</div>
<!-- content -->
<div class="content">
  <div class="row">
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-sm-12 col-12">
      <h4>กรอกข้อมูลส่วนตัว</h4>
      <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
        <div class="mb-3 mt-3">
          <label for="id">รหัสประจำตัว: </label>
          <input type="id" class="form-control" placeholder="Enter id" name="id" formControlName="id" />
        </div>
        <div class="mb-3 mt-3">
          <label for="name">ชื่อ - สกุล:</label>
          <input type="name" class="form-control"  placeholder="Enter name" name="name"
            formControlName="name" />
        </div>
        <div class="mb-3">
          <label for="age">อายุ:</label>
          <input type="age" class="form-control" placeholder="Enter age" name="age" formControlName="age" />
        </div>

        <div class="mb-3">
          <label for="address">ที่อยู่:</label>
          <input type="address" class="form-control" placeholder="Enter address" name="address"
            formControlName="address" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <div class="col-xxl-6 col-xl-6 col-lg-6 col-sm-12 col-12">
      <h4>ข้อมูลส่วนตัว</h4>
      <ul>
        <li class="list-group-item" *ngFor="let doc of myArray | async">
          รหัสประจำตัว: {{doc.id}} &nbsp;
          ชื่อ - สกุล: {{doc.name}}  &nbsp;
          อายุ: {{doc.age}}  &nbsp;
          ที่อยู่: {{doc.address}}  &nbsp;
          <button type="button" class="btn btn-warning" (click)="onEdit(doc)">Edit</button>  &nbsp;
          <button type="button" class="btn btn-danger" (click)="onDelete(doc.id, doc.name)">Delete</button>
        </li>
      </ul>

    </div>
  </div>


</div>
